---
import Layout from "@/layouts/Layout.astro";
import { GevLogoBgNone } from "@/components/icons/GevLogoBgNone";
import { LinkButton } from "@/components/LinkButton";
---

<Layout>
    <div class="h-dvh flex flex-col items-center justify-center gap-12 p-8">
        <div class="flex flex-col gap-4 items-center justify-center">
            <div class="flex items-center gap-4">
                <GevLogoBgNone
                    className="fill-accent pb-1 flex-shrink-0 h-[70px] md:h-[95px]"
                />
                <div
                    class="flex gap-2 items-center flex-grow truncate text-1xl md:text-2xl font-semibold"
                >
                    GPT
                    <br />
                    Evolved
                    <br />
                    Developer
                </div>
            </div>
            <p
                class="text-center text-sm md:text-base text-gray-600 dark:text-gray-400"
            >
                Du&nbsp;utvikler&nbsp;deg! Du&nbsp;er&nbsp;superintelligens!
                Du&nbsp;transcenderer!
            </p>
        </div>
        <LinkButton href="#" size="responsive">Send Lenke</LinkButton>
    </div>
</Layout>
