---
import { buttonVariants } from "@/components/ui/button";
import GadLogoBgNone from "./icons/gad-logo-bg-none";
---

<h1 class="flex gap-2 items-center">
  <span class="text-pink-500"><GadLogoBgNone /></span>
  SupportMe
</h1>
<p>The best dashboard to manage customer support</p>
<div class="flex gap-2 items-center">
  <a class={buttonVariants({ variant: "default" })} href="/login">Log in</a>
  <small>or</small>
  <a class={buttonVariants({ variant: "outline" })} href="/sign-up">Sign up</a>
</div>
