---
import Header from "@/components/header-old/Header";
import ThemeInit from "@/components/header-old/ThemeInit.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>GAD - GPT Augmented Developer</title>
        <ThemeInit />
    </head>
    <body>
        <Header client:only="react" />
        <slot />
    </body>
</html>
